<section class="container UserSection">
  <h2>設定</h2>

    <div class="UserContainer">
      <ul class="SideNavigation">
        <li class="SideNavigation__item active">
          <%= link_to "アカウント", users_account_path(current_user) %><br>
        </li>

        <li class="SideNavigation__item ">
          <%= link_to "プロフィール", user_path(current_user) %>
        </li>
      </ul>


    <div class="AccountInformation">
      <ul class="TabNavigation">
        <li class="TabNavigation__item active">
          <a href="/users/account">アカウント</a>
        </li>

        <li class="TabNavigation__item ">
          <a href="/users/profile">プロフィール</a>
        </li>
      </ul>

    <% if user_signed_in? && @user == current_user %>
      <div class="AccountInformation__header">
        <h3>プロフィール</h3>

        <a class="AccountInformation__link>
          <img alt="編集アイコン" src="https://rails-02-sample.herokuapp.com/assets/icons/edit-blue-51638a3e490277aa2df5f37102d45f5fcdfd8cd6c58fc5add90a958fab5c45af.svg">
          <% if user_signed_in? && @user == current_user %>
          <%= link_to "プロフィール編集", edit_user_path(current_user) %>
          <% end %>
        </a>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="image">アイコン画像</label>
          <p class="AccountInformation__value AccountInformation__value--image">
            <% if current_user.icon? %>
              <%= image_tag current_user.icon.url, class: "icon_image", size: "30x30" %>
            <% else %>
              <%= image_tag ("https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png"), size: "30x30" %>
            <% end %>
          </p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="name">名前</label>
          <p class="AccountInformation__value"><%= @user.name %></p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="introduction">自己紹介</label>
          <p class="AccountInformation__value"><%= @user.profile %></p>
      </div>
    <% end %>
    </div>
</section>