<div class="SearchRooms_FormContainer">
  <%= search_form_for @q, url: search_rooms_path do |form| %> <%# @qに検索の情報を入れて、コントローラーに渡します。　%>
    
      <%= form.search_field :address_cont, placeholder: "エリアを入力", class: "search-form" %>

      <%= form.search_field :room_name_or_address_or_introduction_cont, placeholder: "キーワード検索" %>
      <%= form.submit '検索', class: "search-inputt" %>
   <% end %>
  

<h3>検索結果: <%= @rooms.count(:id) %>件</h3>
<table>
  <thead>
    <tr>
      <th>ルームネーム</th>
      <th>住所</th>
      <th>ルーム紹介</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |r| %>
        <td>
          <%= r.room_name %>
        </td>
        <td>
          <%= r.address %>
        </td>
        <td>
          <%= r.introduction %>
        </td>
    <% end %>
  </tbody>
</table>